*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: auto;
    width: auto;
}
body {
    /* background-image: linear-gradient(to bottom, #57BBBF 40%, white); */
    background-image: url(imagens/planodefundo.png);
    background-attachment: fixed;
    font-family: "Exo", sans-serif;
}

header {
    height: 70px;
    width: 100%;
    background-color: white;
    
}

.header-content {
    display: flex;
    justify-content:left;
    align-items: center;
    min-width: 100%;
  }
  
  .header-title {
    font-family: "Exo", system-ui;
    color: black;
    font-size: 36px;
  }
  
  .header-logo {
    height: 60px;
    width: 60px;
    align-self: center;
    margin-left: 10px;
    margin-right: 20px;
  }
  
  .header-logo img {
    height: 100%;
    width: 100%;
  }

  .menu{
      display: inline-flex;
      margin-left: auto;     
  }


  .btn_menu{
    cursor: pointer;
    color: black;
      font-size: 18px;
      margin-right: 40px;
      background-color: white;
      border: 1px solid black;
      border-radius: 25px;
  }


  .exo-title{
      font-family: "Exo", system-ui;
      font-weight: 400;
      font-style: normal;
  }

  .exo {
      font-family: "Exo", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
  }

.container_cadastro {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 35.56px;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    margin: 10% 10% 10% 35%;
}

.cadtxt{
    margin: 6% 0% 5% 0%;
}

input{
    width: 300px;
    height: 40px;
    top: 406.22px;
    border-radius: 8.89px; 
    border: 1px solid black;
    margin: 4% 0% 1.5% 0%;
    
}

button {
    font-family: "Exo", system-ui;
    font-size: 15.5px;
    font-weight: 110;
    color: white;
    background-color: black;
    border: 3px white;
    width: 153.78px;
    height: 40px;
    border-radius: 8.89px;
    margin: 2% 0% 0% 23%;
}

.h2_cad{
    margin: 3% 0% 1.5% 0%;
}


.p_cad{
    margin: 3% 0% 1.5% 0%;
}