*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body {
    /*background-image: linear-gradient(to bottom, #57BBBF 40%, white);*/
    background-image: url(imagens/planodefundo.png);
    background-attachment: fixed;
    font-family: "Exo", sans-serif;
  }
  
  header {
      height: 70px;
      width: 100%;
      background-color: white;
      
  }
  
  .header-content {
      display: flex;
      justify-content:left;
      align-items: center;
      min-width: 100%;
    }
    
    .header-title {
      font-family: "Exo", system-ui;
      color: black;
      font-size: 36px;
    }
    
    .header-logo {
      height: 60px;
      width: 60px;
      align-self: center;
      margin-left: 10px;
      margin-right: 20px;
    }
    
    .header-logo img {
      height: 100%;
      width: 100%;
    }

    .menu{
        display: inline-flex;
        margin-left: auto;     
    }

    .btn_menu{
        font-size: 18px;
        margin-right: 40px;
        background-color: white;
        border: 3px black;
        border-radius: 25px;
    }

    .exo-title{
        font-family: "Exo", system-ui;
        font-weight: 400;
        font-style: normal;
    }

  h2{
      font-size: 18px;
      margin-right: 10px;
  }

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.popup-title {
    margin-top: 0;
}

.emojis {
    margin-bottom: 20px;
}

.emojis .emoji {
    display: inline-block;
    margin: 0 10px;
}

.emojis .emoji span {
    display: block;
    font-size: 12px;
}

.question {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons .button-yes {
    color: white;
    background-color: green;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
}

.buttons .button-no {
    color: white;
    background-color: red;
    border: none;
    padding: 10px 20px;
}
