<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 404 - Usuário Não Encontrado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/404.css') }}">
</head>
<body>
    <div class="error-page">
        <h1>404</h1>
        <h2>Página não encontrado</h2>
        <a href="{{ url_for('home') }}" class="btn-home">Voltar para a Página Inicial</a>
    </div>

    
</body>
</html>
