<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/exercicio.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Fascinate+Inline&display=swap" rel="stylesheet">
    <title>Alimentação</title>
</head>
<body>
    <header>
		<div class="header-content">
			<div class="header-logo">
				<img src="static/CSS/imagens/logo.png" alt="Site Logo">
	        </div>
			<h1 class="header-title exo-title">SoulSpeak</h1>
			<nav class="exo menu">
				<button class="btn_menu" onclick="window.location='home'">Home</button>
				<button class="btn_menu" onclick="window.location='ed_emocional'"> Educação Emocional </button>
				<button class="btn_menu" onclick="window.location='indicacoes'"> Indicações </button>
				<button class="btn_menu" onclick="window.location='popup'"> Sentimento do dia </button>
				<button class="btn_menu" onclick="window.location='meu_diario'"> Meu diário </button>
				<button class="btn_menu" onclick="window.location='pontos'"> Meus pontos </button>
				
			</nav>
		</div>
	</header>
	<main>
		<section class="section-text">
			<h3>Alimentação</h3>
            <p><b>Nutrição e saúde mental: Como os alimentos afetam suas emoções?</b><br>
				Você já parou para pensar na relação entre o que você come e como se sente emocionalmente? 
				A influência da nutrição na saúde mental é um assunto cada vez mais explorado, e os estudos mostram que os alimentos que colocamos em nosso prato podem ter um impacto significativo em nossas reações emocionais. 
				Neste post, vamos explorar como uma alimentação equilibrada e rica em nutrientes pode transformar suas emoções, ajudando a melhorar seu bem-estar mental. 
				Prepare-se para descobrir como fazer escolhas alimentares conscientes pode ser o primeiro passo para uma vida mais saudável e feliz.
				<br><br>
				<b>Os nutrientes essenciais para a saúde mental: Conheça os melhores alimentos</b><br>
				Uma alimentação balanceada não é importante apenas para manter o corpo saudável, mas também para promover a saúde mental. 
				Alguns nutrientes desempenham um papel fundamental no funcionamento do cérebro e podem ajudar a melhorar o humor, a memória e a concentração. 
				Um desses nutrientes essenciais é o ômega-3, encontrado em peixes como salmão e sardinha, além de nozes e sementes. 
				O ômega-3 auxilia na formação das células cerebrais e está relacionado à diminuição do risco de depressão e ansiedade. Outro nutriente importante é o triptofano, presente em alimentos como banana, aveia e chocolate amargo. 
				O triptofano é convertido em serotonina, neurotransmissor que regula o humor e promove a sensação de bem-estar.
				Além disso, vitaminas do complexo B, encontradas em vegetais verdes, leguminosas e ovos, são essenciais para o bom funcionamento do sistema nervoso. 
				Ao incluir esses alimentos na sua dieta diária, você estará fornecendo ao seu cérebro os nutrientes necessários para uma saúde mental. 
				Além disso, uma alimentação equilibrada contribui para a regulação dos níveis de açúcar no sangue, evitando oscilações bruscas que podem levar ao nervosismo e irritabilidade. 
				Portanto, cuidar da sua alimentação é fundamental para manter o equilíbrio emocional e enfrentar o estresse de forma mais saudável.<br><br>
				<b>O papel do açúcar e aditivos na nossa saúde emocional</b><br>
				O açúcar é um ingrediente presente em muitos alimentos que consumimos diariamente. 
				Apesar de conferir um sabor delicioso às comidas e bebidas, o consumo excessivo de açúcar pode ter impactos negativos na nossa saúde emocional. 
				Estudos têm mostrado uma relação entre altos níveis de açúcar no sangue e o aumento dos sintomas de ansiedade e depressão. 
				Além disso, os aditivos presentes em alguns alimentos processados podem ter efeitos semelhantes. 
				Essas substâncias podem interferir nos neurotransmissores do nosso cérebro, afetando o equilíbrio químico responsável pelo nosso bem-estar emocional. 
				Portanto, é importante estar atento à quantidade de açúcar que consumimos e dar preferência a alimentos naturais e menos processados. 
				Cuidar da nossa saúde emocional é tão essencial quanto cuidar da nossa saúde física.</p>
		</section>

		<section>
			<h5><a href="https://salzclinica.com.br/nutricao-e-saude-mental-como-os-alimentos-afetam-suas-emocoes/#:~:text=Ao%20conhecer%20os%20nutrientes%20essenciais,promover%20um%20humor%20mais%20estável.">Fonte: Salz Clinica</a></h5>
		</section>

		<section class="section-video">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/as7IGOBPuT0?si=v5yFBod0lLfl1xkx" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>

		<section class="section-text">
            <p><b>Ouça também esse Podcast com a engenheira de alimentos Elizabeth Aparecida Ferraz da Silva Torres...</b></p>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/5SJ8mkKicm7pYiyxRoBwkZ?utm_source=generator" 
            width="100%" height="352" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </section>
	</main>

	<footer>
		<div class="footer-content">
		  <div class="contact-info">
			<p>Entre em contato: <a href="mailto:soulspeakfacens@gmail.com">soulspeakfacens@gmail.com</a></p>
		  </div>
		  <div class="partners">
			<p>Parceiros:</p>
			<a href="https://enlace.facens.br" target="_blank">
			  <img src="static/CSS/imagens/enlace.png" alt="Parceiro ENLACE" class="partner-logo" />
			</a>
			<a href="https://cvv.org.br" target="_blank">
			  <img src="static/CSS/imagens/cvv.png" alt="Parceiro CVV" class="partner-logo" />
			</a>
		  </div>
		</div>
	  </footer>
</body>
</html>