<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/exercicio.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Fascinate+Inline&display=swap" rel="stylesheet">
    <title>Autocuidado</title>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="header-logo">
                <img src="static/CSS/imagens/logo.png" alt="Site Logo">
            </div>
            <h1 class="header-title exo-title">SoulSpeak</h1>
            <nav class="exo menu">
                <button class="btn_menu" onclick="window.location='home'">Home</button>
                <button class="btn_menu" onclick="window.location.href='ed_emocional'"> Educação Emocional </button>
                <button class="btn_menu" onclick="window.location.href='indicacoes'"> Indicações </button>
                <button class="btn_menu" onclick="window.location.href='popup'"> Sentimento do dia </button>
                <button class="btn_menu" onclick="window.location.href='meu_diario'"> Meu diário </button>
                <button class="btn_menu" onclick="window.location.href='pontos'"> Meus pontos </button>
            </nav>
        </div>
    </header>
    <main>
        <section class="section-text">
            <h3>Autocuidado</h3>
            <p><b>O que é autocuidado?</b><br><br>
                Autocuidado é cuidar de si para manter saúde, prevenir doenças e promover bem-estar. Está relacionado ao autoconhecimento e envolve escolhas conscientes para preservar a saúde física e mental. <br><br>

                <b>Exemplos de autocuidado</b><br><br>
                1. Praticar atividade física;<br>
                2. Ter uma alimentação saudável;<br>
                3. Manter boas noites de sono;<br>
                4. Ler ou praticar hobbies que tragam prazer;<br>
                5. Evitar vícios e excessos;<br>
                6. Cuidar da higiene pessoal;<br>
                7. Reservar momentos para si.<br><br>

                Autocuidado é colocar-se em primeiro lugar, buscando equilíbrio para uma vida saudável.
            </p>
        </section>
        <img class="img_pil" src="static/CSS/imagens/pilares.png" alt="Pilares do autocuidado">

        <section>
            <h5><a href="https://www.cuidar.me/blog/saude-e-bem-estar/o-que-e-autocuidado">Fonte: Cuidar.Me</a></h5>
        </section>

        <section class="section-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/EIwi2QPNg0g?si=PxQqFndDD56otKGj" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>

        <section class="section-text">
            <p><b>Ouça também esse Podcast com a Dra. Ivani Manzzo.</b><br><br></p>
        </section>
        <iframe class="pod_saude" style="border-radius:12px" src="https://open.spotify.com/embed/episode/1OH9gUX7vU2FshEaVTvfzm/video?utm_source=generator" width="624" height="351" frameBorder="0" 
        allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

    </main>

    <footer>
        <div class="footer-content">
          <div class="contact-info">
            <p>Entre em contato: <a href="mailto:soulspeakfacens@gmail.com">soulspeakfacens@gmail.com</a></p>
          </div>
          <div class="partners">
            <p>Parceiros:</p>
            <a href="https://enlace.facens.br" target="_blank">
              <img src="static/CSS/imagens/enlace.png" alt="Parceiro ENLACE" class="partner-logo" />
            </a>
            <a href="https://cvv.org.br" target="_blank">
              <img src="static/CSS/imagens/cvv.png" alt="Parceiro CVV" class="partner-logo" />
            </a>
          </div>
        </div>
      </footer>
</body>
</html>
