<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Exercícios</title>
	<link rel="stylesheet" type="text/css" href="static/CSS/exercicio.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Fascinate+Inline&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="header-content">
			<div class="header-logo">
				<img src="static/CSS/imagens/logo.png" alt="Site Logo">
	        </div>
			<h1 class="header-title fascinate-inline-regular">SoulSpeak</h1>
			<nav class="exo menu">
				<button class="btn_menu" onclick="window.location='home'">Home</button>
				<button class="btn_menu" onclick="window.location='ed_emocional'"> Educação Emocional </button>
				<button class="btn_menu" onclick="window.location='indicacoes'"> Indicações </button>
				<button class="btn_menu" onclick="window.location='#'"> Sentimento do dia </button>
				<button class="btn_menu" onclick="window.location='meu_diario'"> Meu diário </button>
				<button class="btn_menu" onclick="window.location='pontos'"> Meus pontos </button>
			</nav>
		</div>
	</header>

	<main>
		<section class="section-text">
			<h3>Exercícios Físicos e Benefícios para o Cérebro</h3>
            <p>Praticar atividades físicas regularmente não só melhora o humor, mas também fortalece a saúde do cérebro. Exercícios liberam substâncias como endorfinas e dopamina, que ajudam a reduzir o estresse e melhoram a memória e a concentração. Além disso, manter-se ativo fisicamente pode ajudar na prevenção de doenças neurodegenerativas, como Alzheimer e demência.</p>
		</section>

		<h4>Exercício Guiado</h4>

		<section class="section-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/m1ibQWQtY5M?si=EaAWxAZSIWLqFwTr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</section>
	</main>
	
	<footer>
		<div class="footer-content">
		  <div class="contact-info">
			<p>Entre em contato: <a href="mailto:soulspeakfacens@gmail.com">soulspeakfacens@gmail.com</a></p>
		  </div>
		  <div class="partners">
			<p>Parceiros:</p>
			<a href="https://enlace.facens.br" target="_blank">
			  <img src="static/CSS/imagens/enlace.png" alt="Parceiro ENLACE" class="partner-logo" />
			</a>
			<a href="https://cvv.org.br" target="_blank">
			  <img src="static/CSS/imagens/cvv.png" alt="Parceiro CVV" class="partner-logo" />
			</a>
		  </div>
		</div>
	  </footer>
</body>
</html>
