<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hidratação</title>
	<link rel="stylesheet" type="text/css" href="static/CSS/exercicio.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Fascinate+Inline&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="header-content">
			<div class="header-logo">
				<img src="static/CSS/imagens/logo.png" alt="Site Logo">
	        </div>
			<h1 class="header-title exo-title">SoulSpeak</h1>
			<nav class="exo menu">
				<button class="btn_menu" onclick="window.location='home'">Home</button>
				<button class="btn_menu" onclick="window.location='ed_emocional'"> Educação Emocional </button>
				<button class="btn_menu" onclick="window.location='indicacoes'"> Indicações </button>
				<button class="btn_menu" onclick="window.location='popup'"> Sentimento do dia </button>
				<button class="btn_menu" onclick="window.location='meu_diario'"> Meu diário </button>
				<button class="btn_menu" onclick="window.location='pontos'"> Meus pontos </button>
			</nav>
		</div>
	</header>

	<main>
		<section class="section-text">
			<h3>Hidratação e Bem-Estar Mental</h3>
            <p>Uma <b>hidratação adequada</b> é essencial não só para a <b>saúde física</b>, mas também para o <b>bem-estar mental</b>. Abaixo, vamos entender como a água impacta nosso estado emocional e psicológico:</p>
			
            <p><b>1. Regulação do Humor:</b> A água desempenha um papel importante na regulação do humor. A <b>desidratação</b> pode afetar o equilíbrio de neurotransmissores, como a <b>serotonina</b>, que está associada ao bem-estar. Beber água suficiente ajuda a manter esses neurotransmissores em equilíbrio, promovendo um estado emocional mais estável.</p>
				
			<p><b>2. Redução do Estresse:</b> Manter-se hidratado ajuda a reduzir o <b>estresse</b>, pois a desidratação pode elevar os níveis de <b>cortisol</b>, o hormônio do estresse. A hidratação adequada auxilia o corpo a lidar melhor com situações estressantes e a manter uma perspectiva mental equilibrada.</p>
				
			<p><b>3. Benefícios para o Cérebro:</b><br><br>
			    <b><i>Função Cognitiva:</i></b> O cérebro depende da água para funcionar corretamente. A desidratação pode prejudicar a <b>memória</b>, a <b>concentração</b> e a <b>capacidade de tomar decisões</b>. Manter-se hidratado permite que o cérebro opere de maneira mais eficiente e nos ajuda a sentir mais alertas e focados.</p>
				
			<p><b><i>Fluxo Sanguíneo Cerebral:</i></b> A água é vital para o transporte de <b>nutrientes e oxigênio</b> para o cérebro. Quando estamos desidratados, o fluxo sanguíneo cerebral é reduzido, o que afeta o funcionamento ideal do cérebro.</p>
		</section>

		<section class="section-video" style="text-align: center;">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/1VRIsfvVcPc?si=UsBU2kk3rsfBnpIo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</section>

		<section class="section-text">
			<h4>Perguntas Frequentes sobre Hidratação e Saúde Mental</h4>
			<p><b><i>Quanta água devo beber por dia?</i></b><br>
				   A quantidade recomendada varia, mas, em média, sugere-se consumir cerca de <b>2 litros</b> de água diariamente. O importante é prestar atenção ao seu corpo e beber água sempre que sentir sede.</p>
				
			<p><b><i>Existem outras fontes de hidratação além da água?</i></b><br>
				   Sim, além da água pura, outros líquidos como sucos naturais e chás também ajudam na hidratação, assim como alimentos ricos em água, como frutas e vegetais. No entanto, a água continua sendo a opção mais saudável para manter-se bem hidratado.</p>
		</section>
	</main>

	<footer>
		<div class="footer-content">
		  <div class="contact-info">
			<p>Entre em contato: <a href="mailto:soulspeakfacens@gmail.com">soulspeakfacens@gmail.com</a></p>
		  </div>
		  <div class="partners">
			<p>Parceiros:</p>
			<a href="https://enlace.facens.br" target="_blank">
			  <img src="static/CSS/imagens/enlace.png" alt="Parceiro ENLACE" class="partner-logo" />
			</a>
			<a href="https://cvv.org.br" target="_blank">
			  <img src="static/CSS/imagens/cvv.png" alt="Parceiro CVV" class="partner-logo" />
			</a>
		  </div>
		</div>
	  </footer>
</body>
</html>
