<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/exercicio.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Fascinate+Inline&display=swap" rel="stylesheet">
    <title>Interação Social</title>
</head>
<body>
    <header>
		<div class="header-content">
			<div class="header-logo">
				<img src="static/CSS/imagens/logo.png" alt="Site Logo">
	        </div>
			<h1 class="header-title exo-title">SoulSpeak</h1>
			<nav class="exo menu">
				<button class="btn_menu" onclick="window.location='home'">Home</button>
				<button class="btn_menu" onclick="window.location='ed_emocional'">Educação Emocional</button>
				<button class="btn_menu" onclick="window.location='indicacoes'">Indicações</button>
				<button class="btn_menu" onclick="window.location='popup'">Sentimento do Dia</button>
				<button class="btn_menu" onclick="window.location='meu_diario'">Meu Diário</button>
				<button class="btn_menu" onclick="window.location='pontos'">Meus Pontos</button>
			</nav>
		</div>
	</header>

	<main>
		<section class="section-text">
			<h3>Interação Social</h3>
            <p><b>A importância das relações sociais para a saúde mental</b><br>
				As relações sociais são essenciais para o desenvolvimento humano. Desde os primeiros dias de vida, a interação social é fundamental para nosso crescimento e amadurecimento. À medida que envelhecemos, essas relações continuam sendo vitais para nossa saúde e bem-estar. A falta de vínculos sociais, por outro lado, pode ter um impacto negativo significativo na saúde mental.
			</p>

			<p><b>Qual a diferença entre solidão e isolamento social?</b><br>
				Solidão é o sentimento de vazio ou de falta de conexão emocional com os outros, enquanto isolamento social é a falta de contato ou interação com outras pessoas. Ambos podem surgir devido a diversas situações, como perda de entes queridos, mudanças de residência, aposentadoria ou até falta de amigos próximos. A pandemia de COVID-19, por exemplo, aumentou esses sentimentos para muitas pessoas, que foram forçadas a limitar o contato social.
			</p>

			<p><b>Impactos da falta de relações sociais na saúde mental</b><br>
				A ausência de vínculos sociais pode afetar profundamente a saúde mental. Solidão e isolamento estão associados a problemas como ansiedade, depressão e estresse crônico. Muitas vezes, pessoas que enfrentam essa falta de conexão recorrem a comportamentos prejudiciais, como uso abusivo de substâncias e alimentação desequilibrada, para lidar com o vazio emocional. Além disso, sem suporte emocional, a probabilidade de desenvolver doenças mentais, como depressão e ansiedade, aumenta.
			</p>

			<p><b>Por que é importante manter relações sociais?</b><br>
				As relações sociais nos ajudam a enfrentar o estresse, nos proporcionam suporte emocional e contribuem para a autoestima e confiança. Esse senso de pertencimento e propósito traz qualidade de vida, sendo fundamental para o bem-estar.
			</p>

			<p><b>Como manter relações sociais saudáveis?</b><br>
				Cultivar amizades e conexões genuínas é essencial. Participar de atividades sociais, clubes e grupos de interesse é uma maneira eficaz de fortalecer relações. Também é importante manter contato com familiares e amigos, seja pessoalmente, por telefone ou videochamadas. Lembre-se de que redes sociais não substituem a conexão presencial, e que, sempre que possível, encontros cara a cara são benéficos. Grupos de suporte e organizações comunitárias também são opções que facilitam novas conexões e ajudam a combater o isolamento.
			</p>

			<p>
				Manter conexões sociais impacta positivamente nossa saúde mental. A solidão pode nos afetar profundamente, mas vínculos sociais nos proporcionam suporte, alegria e bem-estar.
			</p>
		</section>

		<section class="section-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/VpcZlMRGwoc?si=1iprbVvfUUEosxw6" 
			title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
			referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</section>
	</main>

	<footer>
		<div class="footer-content">
		  <div class="contact-info">
			<p>Entre em contato: <a href="mailto:soulspeakfacens@gmail.com">soulspeakfacens@gmail.com</a></p>
		  </div>
		  <div class="partners">
			<p>Parceiros:</p>
			<a href="https://enlace.facens.br" target="_blank">
			  <img src="static/CSS/imagens/enlace.png" alt="Parceiro ENLACE" class="partner-logo" />
			</a>
			<a href="https://cvv.org.br" target="_blank">
			  <img src="static/CSS/imagens/cvv.png" alt="Parceiro CVV" class="partner-logo" />
			</a>
		  </div>
		</div>
	  </footer>
</body>
</html>
