<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/livros.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Fascinate+Inline&display=swap" rel="stylesheet">
    <title>Livros</title>
</head>
<body>
    <header>
		<div class="header-content">
			<div class="header-logo">
				<img src="static/CSS/imagens/logo.png" alt="Site Logo">
	        </div>
			<h1 class="header-title exo-title">SoulSpeak</h1>
			<nav class="exo menu">
				<button class="btn_menu" onclick="window.location='home'">Home</button>
				<button class="btn_menu" onclick="window.location='ed_emocional'"> Educação Emocional </button>
				<button class="btn_menu" onclick="window.location='indicacoes'"> Indicações </button>
				<button class="btn_menu" onclick="window.location='popup'"> Sentimento do dia </button>
				<button class="btn_menu" onclick="window.location='meu_diario'"> Meu diário </button>
				<button class="btn_menu" onclick="window.location='pontos'"> Meus pontos </button>
			</nav>	
		</div>
	</header>

	<section class="section_livros">
		<div class="livros">
			<div class="liv_txt">
				<h1 class="h1_main">A voz na sua cabeça: Como reduzir o ruído mental e transformar nosso crítico interno em maior aliado</h1>
				<p>“Este livro vai mudar algumas das conversas mais importantes da sua vida — aquelas que você tem consigo mesmo.” — Adam Grant, autor de Originais
					“Ethan Kross apresenta ciência de ponta alinhada a histórias fascinantes para revelar as ferramentas que as pessoas podem usar para lidar com os pensamentos negativos. Uma obra valiosa e irresistível.” — Carol Dweck, autora de Mindset.
					O renomado neurocientista e psicólogo Ethan Kross explora a natureza das conversas que temos com nós mesmos e explica por que essa fonte de sabedoria muitas vezes sabota nosso bem-estar físico e mental.
					Todos nós temos uma voz interna que nos ajuda a manter o foco, traçar objetivos, tomar decisões e relembrar os bons momentos.					
					Mas essa voz também pode se tornar nosso maior inimigo, ruminando emoções dolorosas e envolvendo nossos pensamentos em espirais de negatividade.					
					Entrelaçando pesquisas científicas inovadoras com estudos de casos e saborosas histórias reais, Kross revela como reverter esse quadro e usar o falatório mental a nosso favor.					
					A chave para fazer as pazes com sua voz interna não é tentar silenciá-la, e sim programá-la para falar de maneira mais eficaz.					
					Neste livro, você descobrirá como encontrar dentro de si mesmo todas as ferramentas necessárias para fazer isso acontecer.
					A voz na sua cabeça foi eleito um dos melhores livros de 2021 por veículos como The Washington Post, Publishers Weekly e Kirkus Reviews.</p>
			</div> 
			<iframe type="text" sandbox="allow-scripts allow-same-origin allow-popups" width="250" height="418" frameborder="0" 
			allowfullscreen style="max-width:100%" src="https://ler.amazon.com.br/kp/card?asin=B09FB29XLZ&preview=newtab&linkCode=kpe&ref_=cm_sw_r_kb_dp_DT2Z9H3NG2NTYMEZ5D63" ></iframe>
		</div>
		<div class="livros">
			<div class="liv_txt">
				<h1 class="h1_main">Desconstruindo a ansiedade: Um guia para superar os maus hábitos que geram agitação, preocupação e medo</h1>
				<p>Da lista de mais vendidos do The New York Times. Publicado em mais de 30 países.
					“Um passo a passo aprovado na prática clínica para aliviar a mente da ansiedade, do pensamento obsessivo, dos vícios e de muito mais.” — Daniel J. Siegel					
					“Este livro apresenta uma descoberta brilhante: métodos que se baseiam no funcionamento do cérebro para reduzir os hábitos alimentados pela ansiedade.” — Daniel Goleman, autor de Inteligência emocional					
					Psiquiatra e professor da Universidade Brown, o neurocientista Judson Brewer sintetiza 20 anos de pesquisa em um livro que apresenta soluções testadas e aprovadas por milhares de pacientes.					
					Quando falamos em ansiedade, muitos de nós logo imaginamos algo entre um desconforto leve e, no outro extremo, ataques de pânico.					
					O dr. Brewer vai além, ao afirmar que a ansiedade leva a comportamentos viciantes e a maus hábitos - como comer demais sem apetite, procrastinar, beber para relaxar e passar horas nas redes sociais.					
					Para complicar, ela habita uma região do cérebro que resiste à racionalidade.					
					Baseado em evidências científicas, o dr. Brewer nos ensina a identificar os gatilhos da ansiedade, neutralizá-los e substituí-los por comportamentos que trazem bem-estar.					
					Simples e engenhosas, as soluções deste livro já ajudaram atletas olímpicos, políticos e empresários. Com esse método, você também vai descobrir como se sentir melhor – não importa quanto esteja ansioso.</p>
			</div>
			<iframe type="text" sandbox="allow-scripts allow-same-origin allow-popups" width="250" height="418" frameborder="0" 
			allowfullscreen style="max-width:100%" src="https://ler.amazon.com.br/kp/card?asin=B09JTYKWY2&preview=inline&linkCode=kpe&ref_=cm_sw_r_kb_dp_RGF6A1CFYS5W6NZ1KSPT" ></iframe>
		</div>
		<div class="livros">
			<div class="liv_txt">
				<h1 class="h1_main">Por que ninguém me disse isso antes?: Ferramentas para enfrentar os altos e baixos da vida</h1>
				<p>"Inteligente, perspicaz e caloroso. Dra. Julie é a amiga sábia de que todos nós precisamos." - Lori Gottlieb, autora de Talvez você deva conversar com alguém.
					Por que ninguém me disse isso antes?					
					Depois de ouvir essa frase repetidas vezes em seu consultório, a psicóloga Julie Smith decidiu que precisava fazer alguma coisa a respeito.					
					Afinal, ela sempre acreditou que mais pessoas deveriam ter acesso a informações de qualidade sobre como cuidar da saúde mental.					
					Foi então que começou a postar vídeos curtos na internet. Em pouco tempo, eles tiveram mais de meio bilhão de visualizações e a transformaram em um fenômeno das redes sociais.					
					Agora, ela traz a mesma objetividade para oferecer ensinamentos reservados às sessões de terapia, de forma simples, sem perder a profundidade.					
					Neste livro, a dra. Julie oferece um guia prático para ajudar você a compreender o que está sentindo, por que está sentindo e como lidar com isso da melhor forma possível.</p>
			</div>
			<iframe type="text" sandbox="allow-scripts allow-same-origin allow-popups" width="250" height="418" frameborder="0" ]
			allowfullscreen style="max-width:100%" src="https://ler.amazon.com.br/kp/card?asin=B0BF5XF7YC&preview=inline&linkCode=kpe&ref_=cm_sw_r_kb_dp_C2GQBGYMWJ8NPSA551Z9" ></iframe>
		</div>
		<div class="livros">
			<div class="liv_txt">
				<h1 class="h1_main">Nação dopamina: Por que o excesso de prazer está nos deixando infelizes e o que podemos fazer para mudar</h1>
				<p>Este livro é sobre prazer. É também sobre sofrimento. Mas mais importante, é um livro que trata de como encontrar o delicado equilíbrio entre os dois, e por que hoje em dia, mais do que nunca, encontrar o equilíbrio é essencial. 
					Estamos vivendo em uma época de excessos, de acesso sem precedentes a estímulos de alta recompensa e alta dopamina: drogas, comida, notícias, jogos, compras, sexo, redes sociais. 
					A variedade e a potência desses estímulos são impressionantes - assim como seu poder adictivo. Nossos telefones celulares oferecem dopamina digital 24 horas por dia, 7 dias por semana, para uma sociedade ao mesmo tempo conectada e alheia do que acontece ao redor. 
					Estamos todos vulneráveis ao consumo excessivo e à compulsão.
					Em Nação dopamina, Dra. Anna Lembke, psiquiatra e professora da Escola de Medicina da renomada Universidade Stanford, explora as novas e empolgantes descobertas científicas que explicam por que a busca incansável do prazer gera mais sofrimento do que felicidade - e o que podemos fazer a respeito.
					Traduzindo a complexidade da neurociência para metáforas fáceis de entender, a Dra. Anna mostra que o caminho para manter a dopamina sob controle é encontrar contentamento nas pequenas coisas e nos conectar com as pessoas queridas. 
					Como prova disso, a autora compartilha diversas experiências vividas por seus pacientes em trechos muito emocionantes. São histórias fascinantes de sofrimento e redenção que nos dão a esperança de que é possível transformar a nossa vida. 
					Nestas páginas, Nação dopamina mostra que o segredo para encontrar o equilíbrio é combinar a ciência do desejo com a sabedoria da recuperação.</p>
			</div>
			<iframe type="text" sandbox="allow-scripts allow-same-origin allow-popups" width="250" height="418" frameborder="0" 
			allowfullscreen style="max-width:100%" src="https://ler.amazon.com.br/kp/card?asin=B09SM3F8Z6&preview=inline&linkCode=kpe&ref_=cm_sw_r_kb_dp_QC19AQPHK2P3TBD7TPA4" ></iframe>
		</div>
	</section>

</body>
</html>