<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Diário - SoulSpeak</title>
  <link rel="stylesheet" href="static/CSS/meu_diario.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Fascinate+Inline&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>
  <header>
    <div class="header-content">
      <div class="header-logo">
        <img src="static/CSS/imagens/logo.png" alt="Site Logo" />
      </div>
      <h1 class="header-title">SoulSpeak</h1>
      <nav class="menu">
        <button class="btn_menu" onclick="window.location.href='home'">Home</button>
        <button class="btn_menu" onclick="window.location.href='ed_emocional'">Educação Emocional</button>
        <button class="btn_menu" onclick="window.location.href='indicacoes'">Indicações</button>
        <button class="btn_menu" onclick="window.location.href='popup'">Sentimento do Dia</button>
        <button class="btn_menu" onclick="window.location.href='meu_diario'">Meu Diário</button>
        <button class="btn_menu" onclick="window.location.href='pontos'">Meus Pontos</button>
      </nav>
    </div>
  </header>

  <main>
    <section class="section-text">
      <h3>Momento desabafo</h3>
    </section>
    <div class="popup-box">
      <div class="popup">
        <div class="content">
          <header class="header_popup">
            <p></p>
            <i class="uil uil-times" onclick="closePopup()"></i>
          </header>
          <form id="note-form">
            <div class="row title">
              <label for="title">Título</label>
              <input type="text" id="title" spellcheck="false">
            </div>
            <div class="row description">
              <label for="description">Descrição</label>
              <textarea id="description" spellcheck="false"></textarea>
            </div>
            <button type="button" onclick="saveNote()">Salvar</button>
          </form>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <img src="static/CSS/imagens/diario.png" alt="diario" class="diario">
      <li class="add-box" onclick="openPopup()">
        <div class="icon"><i class="uil uil-plus"></i></div>
        <p>Escreva Aqui</p>
      </li>
    </div>

    <div class="chatbot-section">
      <h2>Desabafe com o Assistente Virtual</h2>
      <div class="chat-container">
        <div class="chat-box" id="chat-box"></div>
        <div class="input-container">
          <input type="text" id="user-input" placeholder="Digite sua mensagem" />
          <button onclick="sendMessage()">Enviar</button>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button onclick="window.location.href='conversa_psicologo'" class="btn_menu psicologo-btn">Conversar com Psicólogo</button>
    </div>
  </main>

  <footer>
    <div class="footer-content">
      <div class="contact-info">
        <p>Entre em contato: <a href="mailto:soulspeakfacens@gmail.com">soulspeakfacens@gmail.com</a></p>
      </div>
      <div class="partners">
        <p>Parceiros:</p>
        <a href="https://enlace.facens.br" target="_blank">
          <img src="static/CSS/imagens/enlace.png" alt="Parceiro ENLACE" class="partner-logo" />
        </a>
        <a href="https://cvv.org.br" target="_blank">
          <img src="static/CSS/imagens/cvv.png" alt="Parceiro CVV" class="partner-logo" />
        </a>
      </div>
    </div>
  </footer>

  <script src="static/JavaScript/meu_diario.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
</body>
</html>
