<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/CSS/podcasts.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Fascinate+Inline&display=swap"
      rel="stylesheet"
    />
    <title>Podcasts</title>
  </head>
  <body>
    <header>
      <div class="header-content">
        <div class="header-logo">
          <img src="static/CSS/imagens/logo.png" alt="Site Logo" />
        </div>
        <h1 class="header-title exo-title">SoulSpeak</h1>
        <nav class="exo menu">
          <button class="btn_menu" onclick="window.location='home'">
            Home
          </button>
          <button class="btn_menu" onclick="window.location='ed_emocional'">
            Educação Emocional
          </button>
          <button class="btn_menu" onclick="window.location='indicacoes'">
            Indicações
          </button>
          <button class="btn_menu" onclick="window.location='popup'">
            Sentimento do dia
          </button>
          <button class="btn_menu" onclick="window.location='meu_diario'">
            Meu diário
          </button>
          <button class="btn_menu" onclick="window.location='pontos'">
            Meus pontos
          </button>
        </nav>
      </div>
    </header>

    <section class="podcasts">
      <h1 class="h1_main">Autoconsciente</h1>
      <p>
        Por Regina Giannetti - Um espaço acolhedor para quem deseja compreender
        melhor a própria mente e emoções. Neste podcast, Regina aborda temas
        como autocobrança e autocrítica, trazendo reflexões que promovem uma
        relação mais saudável consigo mesmo. Com episódios que ressoam com o que
        vivemos no dia a dia, o Autoconsciente oferece um momento de paz e
        entendimento em meio aos desafios modernos.
      </p>
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/show/3l28wC5LyiiW2EdxgKW1cE?utm_source=generator"
        width="90%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
      ></iframe>

      <h1 class="h1_main">A Loucura Nossa de Cada Dia</h1>
      <p>
        Por Guilherme Facci - Com uma abordagem psicanalítica, este podcast
        explora as complexidades da vida e as angústias cotidianas. Guilherme
        nos guia por questionamentos profundos, com reflexões sobre o sofrimento
        e o propósito, em episódios que acolhem e instigam o ouvinte a entender
        melhor a mente humana.
      </p>
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/show/36Ys2tHVkyfC4TyFyXButj?utm_source=generator"
        width="90%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
      ></iframe>

      <h1 class="h1_main">Zencast</h1>
      <p>
        Por Izabella Camargo - Produzido pelo Zenklub, Zencast é o podcast ideal
        para quem busca aprimorar o bem-estar emocional. Toda semana, Izabella
        recebe especialistas para conversas profundas e inspiradoras, ajudando a
        ouvir mais, sentir mais e viver melhor.
      </p>
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/show/53hZZx1Lsgb1JgWLgdHvFm?utm_source=generator"
        width="90%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
      ></iframe>

      <h1 class="h1_main">Psicanálise de Boteco</h1>
      <p>
        Por Alexandre Patricio - Em uma conversa leve e informal, Alexandre
        discute temas do cotidiano através da lente da psicanálise. Como em um
        bate-papo entre amigos, o podcast torna temas complexos acessíveis, sem
        jargões acadêmicos, proporcionando uma visão mais prática e compreensiva
        da psicanálise.
      </p>
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/show/0yD2Jqfn9BToiaGPoyX9Hb?utm_source=generator"
        width="90%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
      ></iframe>

      <h1 class="h1_main">Bom Dia, Obvious</h1>
      <p>
        Por Marcela Ceribelli - Marcela, CEO e diretora criativa da Obvious,
        convida mulheres para conversas profundas e inspiradoras sobre saúde
        mental, autocuidado, carreira, autoestima e muito mais. Este podcast é
        um convite para explorar o que podemos fazer pela nossa felicidade e
        bem-estar.
      </p>
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/show/1592iJQt0IlC5u5lKXrbyS?utm_source=generator"
        width="90%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
      ></iframe>
    </section>
  </body>
</html>
