<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pop Up</title>
    <link rel="stylesheet" href="static/CSS/popup.css">
</head>
<body onload="openPopup()">
    <header>
        <div class="header-content">
            <div class="header-logo">
                <img src="static/CSS/imagens/logo.png" alt="Site Logo">
            </div>
            <h1 class="header-title exo-title">SoulSpeak</h1>
            <nav class="exo menu">
                <button class="btn_menu" onclick="window.location='home'">Home</button>
                <button class="btn_menu" onclick="window.location='ed_emocional'">Educação Emocional</button>
                <button class="btn_menu" onclick="window.location='indicacoes'">Indicações</button>
                <button class="btn_menu" onclick="window.location='popup'">Sentimento do dia</button>
                <button class="btn_menu" onclick="window.location='meu_diario'">Meu diário</button>
                <button class="btn_menu" onclick="window.location='pontos'">Meus pontos</button>
            </nav>
        </div>
    </header>

    <div id="popup" class="popup">
        <span class="close" onclick="closePopup()">&times;</span>
        <h2 class="popup-title">Como está se sentindo hoje?</h2>
        <div class="emojis">
            <div class="emoji" id="emoji-1" onclick="selectEmoji('emoji-1')">
                <img src="static/CSS/imagens/irritado.jpeg" alt="Irritado(a)">
                <span>Irritado(a)</span>
            </div>
            <div class="emoji" id="emoji-2" onclick="selectEmoji('emoji-2')">
                <img src="static/CSS/imagens/Muito_triste.jpeg" alt="Muito triste">
                <span>Muito triste</span>
            </div>
            <div class="emoji" id="emoji-3" onclick="selectEmoji('emoji-3')">
                <img src="static/CSS/imagens/triste.jpeg" alt="Triste">
                <span>Triste</span>
            </div>
            <div class="emoji" id="emoji-4" onclick="selectEmoji('emoji-4')">
                <img src="static/CSS/imagens/neutro.jpeg" alt="Neutro">
                <span>Neutro</span>
            </div>
            <div class="emoji" id="emoji-5" onclick="selectEmoji('emoji-5')">
                <img src="static/CSS/imagens/animado.jpeg" alt="Animado">
                <span>Animado</span>
            </div>
            <div class="emoji" id="emoji-6" onclick="selectEmoji('emoji-6')">
                <img src="static/CSS/imagens/feliz.jpeg" alt="Feliz">
                <span>Feliz</span>
            </div>
        </div>
        <p class="question">Quer compartilhar sobre o seu dia?</p>
        <div class="buttons">
            <button class="button-yes" id="button-yes" onclick="saveAndClose(), window.location='meu_diario'">Sim</button>
            <button class="button-no" onclick="handleNo(), window.location='home'">Não</button>
        </div>
        <button id="button-enviar" onclick="saveAndClose()">Enviar</button>
    </div>

    <script src="static/JavaScript/popup.js"></script>
</body>
</html>
