<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/exercicio.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Fascinate+Inline&display=swap" rel="stylesheet">
    <title>Sono</title>
</head>
<body>
    <header>
		<div class="header-content">
			<div class="header-logo">
				<img src="static/CSS/imagens/logo.png" alt="Site Logo">
	        </div>
			<h1 class="header-title exo-title">SoulSpeak</h1>
			<nav class="exo menu">
				<button class="btn_menu" onclick="window.location='home'">Home</button>
				<button class="btn_menu" onclick="window.location='ed_emocional'">Educação Emocional</button>
				<button class="btn_menu" onclick="window.location='indicacoes'">Indicações</button>
				<button class="btn_menu" onclick="window.location='popup'">Sentimento do dia</button>
				<button class="btn_menu" onclick="window.location='meu_diario'">Meu diário</button>
				<button class="btn_menu" onclick="window.location='pontos'">Meus pontos</button>
			</nav>
		</div>
	</header>
	<main>
		<section class="section-text">
			<h3>Sono</h3>
            <p><b>Descubra a relação entre sono e saúde mental</b><br><br>
				O sono é fundamental para a saúde mental e física. Privação de sono afeta o bem-estar, com consequências como estresse, problemas cognitivos e distúrbios do humor. 
				No Brasil, cerca de 72% das pessoas enfrentam dificuldades para dormir. Dormir bem envolve qualidade e quantidade, que varia com a idade:
				<br><br>
				<b>1 a 2 anos:</b> 11 a 14 horas;<br>
				<b>3 a 5 anos:</b> 10 a 13 horas;<br>
				<b>6 a 13 anos:</b> 9 a 11 horas;<br>
				<b>18 a 25 anos:</b> 7 a 9 horas;<br>
				<b>65 anos ou mais:</b> 7 a 8 horas. <br><br>
				Responda estas perguntas para saber se seu sono é de qualidade: <br>
				Você acorda cansado? <br>
				Sente sono durante o dia? <br>
				Depende de cafeína para funcionar? <br>
				Se “sim”, considere ajustar sua rotina.
				<br><br>

				<b>Principais benefícios do sono</b><br>
				<b>1. Restauração de energia:</b> As primeiras horas de sono restauram o cérebro, preparando-o para um descanso profundo.<br>
				<b>2. Reparo e imunidade:</b> Dormir bem reforça o sistema imune e ajuda na recuperação de tecidos.<br>
				<b>3. Melhora da memória:</b> O sono ajuda a consolidar novas informações e fortalecer a memória.<br>
				<b>4. Funções cognitivas:</b> Acordar descansado melhora a atenção, tomada de decisões e criatividade.<br>
				<b>5. Saúde emocional:</b> O sono adequado reduz o estresse e equilibra as emoções.<br><br>
				
				<b>Dicas para melhorar o sono</b><br>
				<b>1. Exercícios físicos</b>: Pratique atividades regulares, mas evite logo antes de dormir.<br>
				<b>2. Higiene do sono</b>: Mantenha uma rotina de sono, o quarto escuro e evite eletrônicos.<br>
				<b>3. Técnicas de relaxamento</b>: Experimente meditação ou respiração profunda para relaxar antes de dormir.<br>
				<b>4. Menos cafeína</b>: Evite estimulantes como café e comidas pesadas antes de dormir.<br>
				<b>5. Reduza telas à noite</b>: A luz das telas inibe a melatonina, dificultando o sono.<br>
				<b>6. Terapia</b>: A terapia cognitivo-comportamental ajuda a criar uma rotina saudável de sono.
			</p>
		</section>

		<section class="section-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Vu5_Tixoplc?si=dMLOWQCctp6OWHTU" 
			title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
			referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</section>

	</main>

</body>
</html>
