<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/videos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Fascinate+Inline&display=swap" rel="stylesheet">
    <title>Vídeos</title>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="header-logo">
                <img src="static/CSS/imagens/logo.png" alt="Site Logo">
            </div>
            <h1 class="header-title exo-title">SoulSpeak</h1>
            <nav class="exo menu">
                <button class="btn_menu" onclick="window.location='home'">Home</button>
                <button class="btn_menu" onclick="window.location='ed_emocional'">Educação Emocional</button>
                <button class="btn_menu" onclick="window.location='indicacoes'">Indicações</button>
                <button class="btn_menu" onclick="window.location='popup'">Sentimento do dia</button>
                <button class="btn_menu" onclick="window.location='meu_diario'">Meu diário</button>
                <button class="btn_menu" onclick="window.location='pontos'">Meus pontos</button>
            </nav>
        </div>
    </header>

    <section class="section-video">
		<h1 class="h1_main">Depressão</h1>
		<h2 class="subtitulo">O que é?</h2>
		<p class="definicao">A depressão é um transtorno de humor que causa uma sensação persistente de tristeza e perda de interesse. Ela afeta como você se sente, pensa e se comporta e pode levar a uma variedade de problemas emocionais e físicos.</p>
		<div class="videos">
		  <iframe src="https://www.youtube.com/embed/YK70q5eys4k?si=zlLNwk9lOcdH9U96" title="YouTube video player" allowfullscreen></iframe>
		  <iframe src="https://www.youtube.com/embed/kKhyunA1Qro?si=RrXroifm1sCldxq1" title="YouTube video player" allowfullscreen></iframe>
		</div>
	  
		<h1 class="h1_main">Ansiedade</h1>
		<h2 class="subtitulo">O que é?</h2>
		<p class="definicao">A ansiedade é uma resposta natural do corpo ao estresse. É um sentimento de medo ou apreensão sobre o que está por vir. Em níveis elevados, pode interferir em atividades do cotidiano e impactar a saúde emocional.</p>
		<div class="videos">
		  <iframe src="https://www.youtube.com/embed/8YG8HABY25w?si=jAfM5Tphq_ZUefma" title="YouTube video player" allowfullscreen></iframe>
		  <iframe src="https://www.youtube.com/embed/MzcegEa8UFg?si=LR4M2-NJi_CUY09i" title="YouTube video player" allowfullscreen></iframe>
		</div>
	  
		<h1 class="h1_main">Transtorno Bipolar</h1>
		<h2 class="subtitulo">O que é?</h2>
		<p class="definicao">Transtorno bipolar é caracterizado por mudanças extremas de humor, oscilando entre episódios de euforia (mania) e depressão, podendo causar impactos significativos na vida social e profissional da pessoa.</p>
		<div class="videos">
		  <iframe src="https://www.youtube.com/embed/O72gsXcqQUU?si=q5OsFUOsJrq7n4Di" title="YouTube video player" allowfullscreen></iframe>
		  <iframe src="https://www.youtube.com/embed/bIgLUDNKixg?si=fS2ntNG9L4H4aNIl" title="YouTube video player" allowfullscreen></iframe>
		</div>
	  
		<h1 class="h1_main">Síndrome do Pânico</h1>
		<h2 class="subtitulo">O que é?</h2>
		<p class="definicao">A síndrome do pânico é um transtorno de ansiedade que causa ataques de pânico recorrentes, caracterizados por medo intenso, sensação de perda de controle e sintomas físicos como sudorese, tremores e palpitações.</p>
		<div class="videos">
		  <iframe src="https://www.youtube.com/embed/thsBnZyUJns?si=zBgWi-9alOf7Js7U" title="YouTube video player" allowfullscreen></iframe>
		  <iframe src="https://www.youtube.com/embed/B-3sBKmM4J8?si=taLNkf9RentL1eNN" title="YouTube video player" allowfullscreen></iframe>
		</div>
	  </section>
	  
</body>
</html>
