<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/videos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Fascinate+Inline&display=swap" rel="stylesheet">
    <title>Vídeos</title>
</head>
<body>
    <header>
		<div class="header-content">
			<div class="header-logo">
				<img src="static/CSS/imagens/logo.png" alt="Site Logo">
	        </div>
			<h1 class="header-title exo-title">SoulSpeak</h1>
			<nav class="exo menu">
				<button class="btn_menu" onclick="window.location='home'">Home</button>
				<button class="btn_menu" onclick="window.location='ed_emocional'"> Educação Emocional </button>
				<button class="btn_menu" onclick="window.location='indicacoes'"> Indicações </button>
				<button class="btn_menu" onclick="window.location='popup'"> Sentimento do dia </button>
				<button class="btn_menu" onclick="window.location='meu_diario'"> Meu diário </button>
				<button class="btn_menu" onclick="window.location='pontos'"> Meus pontos </button>
				
			</nav>
		</div>
	</header>

	<section class="section-video">
	<h1 class="h1_main">Depressão</h1>

	<div class="videos">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/YK70q5eys4k?si=zlLNwk9lOcdH9U96" 
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/kKhyunA1Qro?si=RrXroifm1sCldxq1" 
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/vX8KEm9nVuc?si=Kstm6XMaAHBED9ZL" 
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/pt7esbSVlFQ?si=ArQ3STuhD5BjSFxN" 
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</div>

	<h1 class="h1_main">Ansiedade</h1>

	<div class="videos">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/8YG8HABY25w?si=jAfM5Tphq_ZUefma" 
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/MzcegEa8UFg?si=LR4M2-NJi_CUY09i" 
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/Pmh9No4Mdts?si=Od8jVSOlRo8Dr9mj" 
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/PIQpHVXjAt4?si=9xH3aTuyVtSJ_R-j" 
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</div>

	<h1 class="h1_main">Transtorno Bipolar</h1>

	<div class="videos">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/Pmh9No4Mdts?si=Od8jVSOlRo8Dr9mj" 
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/O72gsXcqQUU?si=q5OsFUOsJrq7n4Di" 
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/bIgLUDNKixg?si=fS2ntNG9L4H4aNIl" 
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/ZBMqL54RXPE?si=1sC9rpSGc9yQadLp" 
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</div>

	<h1 class="h1_main">Síndrome do Pânico</h1>

	<div class="videos">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/thsBnZyUJns?si=zBgWi-9alOf7Js7U" 
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/B-3sBKmM4J8?si=taLNkf9RentL1eNN" 
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/kMlz8dbbDd8?si=iTbIWP6dx24zkHwm" 
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/ecf-Z7bBcWg?si=OErfdrUhfg-uFvpG" 
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</div>
	</section>


</body>
</html>